#aes h1,
h3 {
  text-decoration: underline;
}
#aes h4 {
  background-color: var(--color-dark);
  color: var(--color-light);
  width: fit-content;
  font-weight: lighter;
  font-size: 0.9rem;
  padding: 0.1rem 1rem;
  border: 1px solid var(--color-dark);
  border-radius: 0.5rem;
  cursor: pointer;
  margin: 0.5rem 1rem;
}
#aes h4:hover {
  background-color: var(--color-light);
  color: var(--color-dark);
}
#aes span {
  color: var(--color-blue);
}
#aes > div {
  display: none;
  margin: 0.5rem 2rem;
}
#aes .words {
  display: inline;
}
#aes .round-keys-table {
  display: grid;
  grid-template-columns: 12% 18% 5% 65%;
}

#aes th {
  background-color: var(--color-dark);
  color: var(--color-light);
  padding: 0 0.4rem;
}
#aes td {
  border: 1px solid var(--color-dark);
  text-align: center;
  padding: 0 0.2rem;
}

#aes .table-states td {
  color: var(--color-blue);
  font-size: 0.8rem;
}
