#ecc h1,
h3 {
  text-decoration: underline;
}
#ecc h4 {
  background-color: var(--color-dark);
  color: var(--color-light);
  width: fit-content;
  font-weight: lighter;
  font-size: 0.9rem;
  padding: 0.1rem 1rem;
  border: 1px solid var(--color-dark);
  border-radius: 0.5rem;
  cursor: pointer;
  margin: 0.5rem 1rem;
}
#ecc h4:hover {
  background-color: var(--color-light);
  color: var(--color-dark);
}
#ecc span {
  color: var(--color-blue);
}
#ecc > div {
  display: none;
  margin: 0.5rem 2rem;
}
/*
#ecc form {
  display: grid;
  grid-template-columns: repeat(3, 2rem 6rem);
  text-align: center;
}
*/
#ecc label {
  width: 2rem;
}
#ecc input {
  width: 5rem;
}
#ecc input[type="submit"] {
  margin-top: 0.5rem;
  width: 22rem;
  height: 2rem;
  margin-left: 2rem;
}
#ecc .ecc-simple-res {
  display: none;
}
#ecc td {
  border: 1px solid var(--color-dark);
  text-align: center;
  padding: 0 0.2rem;
  font-size: 0.8rem;
}

/* ========= Media Quiries  (small) ========== */
@media screen and (max-width: 600px) {
  #ecc form {
    grid-template-columns: repeat(3, 1rem 3.5rem);
  }
  #ecc label {
    width: 1rem;
  }
  #ecc input {
    width: 3rem;
  }
  #ecc input[type="submit"] {
    width: 12.5rem;
    margin-left: 1rem;
  }
  #ecc ScatterChart {
    width: 20rem;
    height: 20rem;
  }
}
