#home h4 {
  margin-top: 0.5rem;
}

#home a {
  background-color: var(--color-dark);
  color: var(--color-light);
  margin: 0.5rem 0.5rem 0 0;
  padding: 0.2rem;
  border: 2px solid var(--color-dark);
  border-radius: 0.5rem;
}

#home a:hover {
  background-color: var(--color-light);
  color: var(--color-dark);
}

#home .examples {
  display: flex;
  margin-bottom: 1.5rem;
}
