@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

:root {
  --color-dark: #1f1f38;
  --color-light: #f5f5f5;
  --color-blue: #2596be;
  --color-red: #fc4445;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Poppins", Times, sans-serif;
  list-style-type: none;
}

a:link {
  color: inherit;
}
a:active {
  color: inherit;
}
a:visited {
  color: inherit;
}
a:hover {
  color: inherit;
}

section {
  margin: 3.5rem 0.5rem 0.5rem 10.5rem;
  color: var(--color-dark);
}
table,
th,
td {
  border: 1px solid var(--color-dark);
  border-collapse: collapse;
  text-align: center;
  padding: 0 0.2rem;
}

/* ========= Media Quiries  (small) ========== */
@media screen and (max-width: 600px) {
  section {
    margin: 12rem 1rem 1rem 1rem;
  }
}
